// Fonts
$font-t: 'Roboto-Thin';
$font-l: 'Roboto-Light';
$font-r: 'Roboto-Regular';
$font-m: 'Roboto-Medium';
$font-b: 'Roboto-Bold';
//
// Colors
$white: #fff;
$black: #000;
$black-2: #333;
$gray: #616161;
$gray-2: #373737;
$font-color: #767270;
$bg-color: #eae8e7;
//
// Utilites
$transparent: rgba(0, 0, 0, 0.1);
$shadow: 0 10px 50px 0 rgba(0, 0, 0, 0.1);